/* SPDX-License-Identifier: Apache-2.0 */

[data-theme='omi-custom-theme'] {
	--text-scaling: 1.067;
	--base-font-color: var(--color-surface-950);
	--base-font-color-dark: var(--color-secondary-50);
	--base-font-family: 'Liberation Mono', system-ui;
	--base-font-size: inherit;
	--base-line-height: inherit;
	--base-font-weight: normal;
	--base-font-style: normal;
	--base-letter-spacing: 0em;
	--heading-font-color: inherit;
	--heading-font-color-dark: inherit;
	--heading-font-family: inherit;
	--heading-font-weight: bold;
	--heading-font-style: normal;
	--heading-letter-spacing: inherit;
	--anchor-font-color: var(--color-primary-500);
	--anchor-font-color-dark: var(--color-primary-400);
	--anchor-font-family: inherit;
	--anchor-font-size: inherit;
	--anchor-line-height: inherit;
	--anchor-font-weight: inherit;
	--anchor-font-style: inherit;
	--anchor-letter-spacing: inherit;
	--anchor-text-decoration: none;
	--anchor-text-decoration-hover: underline;
	--anchor-text-decoration-active: none;
	--anchor-text-decoration-focus: none;
	--spacing: 0.25rem;
	--radius-base: 0.25rem;
	--radius-container: 0.25rem;
	--default-border-width: 1px;
	--default-divide-width: 1px;
	--default-ring-width: 1px;
	--body-background-color: var(--color-surface-50);
	--body-background-color-dark: var(--color-surface-950);
	--color-primary-50: oklch(90.08% 0.05 294.73deg);
	--color-primary-100: oklch(85% 0.08 293.92deg);
	--color-primary-200: oklch(79.71% 0.11 293.6deg);
	--color-primary-300: oklch(74.63% 0.14 291.91deg);
	--color-primary-400: oklch(69.51% 0.17 290.98deg);
	--color-primary-500: oklch(64.78% 0.2 289.27deg);
	--color-primary-600: oklch(61.43% 0.18 288.86deg);
	--color-primary-700: oklch(58.19% 0.17 288.68deg);
	--color-primary-800: oklch(54.58% 0.16 288.39deg);
	--color-primary-900: oklch(51.25% 0.14 288.08deg);
	--color-primary-950: oklch(47.72% 0.13 287.24deg);
	--color-primary-contrast-dark: var(--color-primary-950);
	--color-primary-contrast-light: var(--color-primary-50);
	--color-primary-contrast-50: var(--color-primary-contrast-dark);
	--color-primary-contrast-100: var(--color-primary-contrast-dark);
	--color-primary-contrast-200: var(--color-primary-contrast-dark);
	--color-primary-contrast-300: var(--color-primary-contrast-dark);
	--color-primary-contrast-400: var(--color-primary-contrast-dark);
	--color-primary-contrast-500: var(--color-primary-contrast-light);
	--color-primary-contrast-600: var(--color-primary-contrast-light);
	--color-primary-contrast-700: var(--color-primary-contrast-light);
	--color-primary-contrast-800: var(--color-primary-contrast-light);
	--color-primary-contrast-900: var(--color-primary-contrast-light);
	--color-primary-contrast-950: var(--color-primary-contrast-light);
	--color-secondary-50: oklch(100% 0 none);
	--color-secondary-100: oklch(100% 0 none);
	--color-secondary-200: oklch(100% 0 none);
	--color-secondary-300: oklch(100% 0 none);
	--color-secondary-400: oklch(100% 0 none);
	--color-secondary-500: oklch(100% 0 none);
	--color-secondary-600: oklch(100% 0 none);
	--color-secondary-700: oklch(100% 0 none);
	--color-secondary-800: oklch(100% 0 none);
	--color-secondary-900: oklch(100% 0 none);
	--color-secondary-950: oklch(100% 0 none);
	--color-secondary-contrast-dark: var(--color-secondary-950);
	--color-secondary-contrast-light: var(--color-secondary-50);
	--color-secondary-contrast-50: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-100: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-200: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-300: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-400: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-500: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-600: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-700: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-800: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-900: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-950: var(--color-secondary-contrast-dark);
	--color-tertiary-50: oklch(0% 0 none);
	--color-tertiary-100: oklch(0% 0 none);
	--color-tertiary-200: oklch(0% 0 none);
	--color-tertiary-300: oklch(0% 0 none);
	--color-tertiary-400: oklch(0% 0 none);
	--color-tertiary-500: oklch(0% 0 none);
	--color-tertiary-600: oklch(0% 0 none);
	--color-tertiary-700: oklch(0% 0 none);
	--color-tertiary-800: oklch(0% 0 none);
	--color-tertiary-900: oklch(0% 0 none);
	--color-tertiary-950: oklch(0% 0 none);
	--color-tertiary-contrast-dark: var(--color-tertiary-950);
	--color-tertiary-contrast-light: var(--color-tertiary-50);
	--color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-300: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-400: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-500: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-600: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-700: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-800: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-900: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-950: var(--color-tertiary-contrast-dark);
	--color-success-50: oklch(95.36% 0.04 150.8deg);
	--color-success-100: oklch(90.44% 0.09 149.23deg);
	--color-success-200: oklch(86.15% 0.13 148.11deg);
	--color-success-300: oklch(81.97% 0.17 146.96deg);
	--color-success-400: oklch(78.57% 0.2 145.75deg);
	--color-success-500: oklch(75.41% 0.23 144.47deg);
	--color-success-600: oklch(69.72% 0.21 144.55deg);
	--color-success-700: oklch(63.66% 0.19 144.63deg);
	--color-success-800: oklch(57.7% 0.17 144.62deg);
	--color-success-900: oklch(51.33% 0.15 144.73deg);
	--color-success-950: oklch(45.04% 0.13 144.93deg);
	--color-success-contrast-dark: var(--color-success-950);
	--color-success-contrast-light: var(--color-success-50);
	--color-success-contrast-50: var(--color-success-contrast-dark);
	--color-success-contrast-100: var(--color-success-contrast-dark);
	--color-success-contrast-200: var(--color-success-contrast-dark);
	--color-success-contrast-300: var(--color-success-contrast-dark);
	--color-success-contrast-400: var(--color-success-contrast-dark);
	--color-success-contrast-500: var(--color-success-contrast-dark);
	--color-success-contrast-600: var(--color-success-contrast-dark);
	--color-success-contrast-700: var(--color-success-contrast-light);
	--color-success-contrast-800: var(--color-success-contrast-light);
	--color-success-contrast-900: var(--color-success-contrast-light);
	--color-success-contrast-950: var(--color-success-contrast-light);
	--color-warning-50: oklch(96% 0.03 94.32deg);
	--color-warning-100: oklch(91.77% 0.06 94.41deg);
	--color-warning-200: oklch(87.55% 0.09 95.1deg);
	--color-warning-300: oklch(83.31% 0.12 94.06deg);
	--color-warning-400: oklch(79.33% 0.14 93.49deg);
	--color-warning-500: oklch(75.59% 0.15 91.2deg);
	--color-warning-600: oklch(69.94% 0.14 91.39deg);
	--color-warning-700: oklch(63.87% 0.13 91.44deg);
	--color-warning-800: oklch(57.97% 0.12 91.7deg);
	--color-warning-900: oklch(51.58% 0.1 91.82deg);
	--color-warning-950: oklch(45.33% 0.09 92.29deg);
	--color-warning-contrast-dark: var(--color-warning-950);
	--color-warning-contrast-light: var(--color-warning-50);
	--color-warning-contrast-50: var(--color-warning-contrast-dark);
	--color-warning-contrast-100: var(--color-warning-contrast-dark);
	--color-warning-contrast-200: var(--color-warning-contrast-dark);
	--color-warning-contrast-300: var(--color-warning-contrast-dark);
	--color-warning-contrast-400: var(--color-warning-contrast-dark);
	--color-warning-contrast-500: var(--color-warning-contrast-dark);
	--color-warning-contrast-600: var(--color-warning-contrast-dark);
	--color-warning-contrast-700: var(--color-warning-contrast-light);
	--color-warning-contrast-800: var(--color-warning-contrast-light);
	--color-warning-contrast-900: var(--color-warning-contrast-light);
	--color-warning-contrast-950: var(--color-warning-contrast-light);
	--color-error-50: oklch(93.11% 0.02 37.09deg);
	--color-error-100: oklch(85.17% 0.05 34.73deg);
	--color-error-200: oklch(77.56% 0.09 34.19deg);
	--color-error-300: oklch(70.41% 0.12 35.08deg);
	--color-error-400: oklch(63.9% 0.16 35.04deg);
	--color-error-500: oklch(58.35% 0.19 34.32deg);
	--color-error-600: oklch(53.83% 0.17 34.29deg);
	--color-error-700: oklch(49.39% 0.16 34.39deg);
	--color-error-800: oklch(44.78% 0.14 34.73deg);
	--color-error-900: oklch(40.11% 0.13 34.94deg);
	--color-error-950: oklch(35.13% 0.11 34.99deg);
	--color-error-contrast-dark: var(--color-error-950);
	--color-error-contrast-light: var(--color-error-50);
	--color-error-contrast-50: var(--color-error-contrast-dark);
	--color-error-contrast-100: var(--color-error-contrast-dark);
	--color-error-contrast-200: var(--color-error-contrast-dark);
	--color-error-contrast-300: var(--color-error-contrast-dark);
	--color-error-contrast-400: var(--color-error-contrast-dark);
	--color-error-contrast-500: var(--color-error-contrast-light);
	--color-error-contrast-600: var(--color-error-contrast-light);
	--color-error-contrast-700: var(--color-error-contrast-light);
	--color-error-contrast-800: var(--color-error-contrast-light);
	--color-error-contrast-900: var(--color-error-contrast-light);
	--color-error-contrast-950: var(--color-error-contrast-light);
	--color-surface-50: oklch(90.37% 0 none);
	--color-surface-100: oklch(79.08% 0 228.52deg);
	--color-surface-200: oklch(67.62% 0.01 223.38deg);
	--color-surface-300: oklch(55.32% 0.01 222.1deg);
	--color-surface-400: oklch(42.67% 0.02 221.66deg);
	--color-surface-500: oklch(28.74% 0.02 223.49deg);
	--color-surface-600: oklch(26.87% 0.02 227.43deg);
	--color-surface-700: oklch(25.25% 0.02 224.28deg);
	--color-surface-800: oklch(23.19% 0.01 220.19deg);
	--color-surface-900: oklch(21.51% 0.01 214.65deg);
	--color-surface-950: oklch(19.49% 0.01 220.02deg);
	--color-surface-contrast-dark: var(--color-surface-950);
	--color-surface-contrast-light: var(--color-surface-50);
	--color-surface-contrast-50: var(--color-surface-contrast-dark);
	--color-surface-contrast-100: var(--color-surface-contrast-dark);
	--color-surface-contrast-200: var(--color-surface-contrast-dark);
	--color-surface-contrast-300: var(--color-surface-contrast-dark);
	--color-surface-contrast-400: var(--color-surface-contrast-light);
	--color-surface-contrast-500: var(--color-surface-contrast-light);
	--color-surface-contrast-600: var(--color-surface-contrast-light);
	--color-surface-contrast-700: var(--color-surface-contrast-light);
	--color-surface-contrast-800: var(--color-surface-contrast-light);
	--color-surface-contrast-900: var(--color-surface-contrast-light);
	--color-surface-contrast-950: var(--color-surface-contrast-light);
}
