alembic==1.13.2
sqlalchemy==2.0.31
pydantic==2.8.2
pydantic-settings==2.4.0
pytest==8.3.2
loguru==0.7.2

# auth
argon2-cffi==23.1.0
pyjwt==2.9.0

pgvector==0.1.6
# fastembed==0.3.4 replace with version when this commit is released - https://github.com/qdrant/fastembed/commit/9c72d2f59f91f87753da07c12a6f1082e233ecb3
git+https://github.com/qdrant/fastembed@9c72d2f59f91f87753da07c12a6f1082e233ecb3
