ROOT_DIR=

## Postgres
POSTGRES_DB=opendatarepository
POSTGRES_USER=opendatarepository
POSTGRES_PASSWORD=opendatarepository
POSTGRES_PORT=35432
TEST_POSTGRES_DB=test_opendatarepository

## JWT
JWT_SECRET=jwtsupersecret
JWT_ALGORITHM=HS256
JWT_EXPIRATION_SECONDS=3600

## Session
SESSION_MAX_AGE_SECONDS=4233600  # 4 weeks

## Default Superuser
DEFAULT_SUPERUSER_EMAIL=opendatarepository@opendatarepository.com
DEFAULT_SUPERUSER_PASSWORD=opendatarepository
DEFAULT_SUPERUSER_USERNAME=opendatarepository
