# extra pip locations
--extra-index-url https://download.pytorch.org/whl/cu124

# standard
setuptools==70.0.0
packaging==24.0
rich

# torch
torch==2.4.1+cu124
torchvision==0.19.1+cu124
numpy==1.26.4
safetensors
diffusers
transformers
accelerate
peft

# image
opencv-contrib-python-headless
Pillow
PiDNG
